.list{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.listItem{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .05);
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px 20px;
    color: black;

    font-size: 24px;
    font-weight: 400;

    transition: all;
}

.listItem:hover{
    scale: 1.02;
    
}

.labelInline{
    display: flex;
    align-items: center;
    gap: 10px;
}